<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.gobig.mapper.SortMapper">
    <select id="list" resultType="Sort">
        select *
        from sort s
        order by s.id asc
        <if test="num!=null">
            limit #{num}
        </if>

    </select>

    <select id="get" resultType="_int">
        select *
        from sort s
        where s.id = #{id}
    </select>
</mapper>

